<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenxuan.uumall.mapper.CommodityMapper" >

    <select id="search" resultType="com.wenxuan.uumall.entity.Commodity">
      select * from commodity
      where 1 = 1
      <if test="manager != null">
         and (name like '%${manager}%' or class_one like '%${manager}%' or class_two like '%${manager}%' or class_three like '%${manager}%')
      </if>
      order by  add_time limit #{page},#{per};
    </select>
</mapper>