<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenxuan.uumall.mapper.OrderListMapper">

    <select id="find" parameterType="com.wenxuan.uumall.entity.OrderList">
        select * from order_list
        where 1 = 1
        <if test="u_id != null">
            and u_id = #{u_id}
        </if>
        <if test="c_id != null">
            and c_id = #{c_id}
        </if>
    </select>
</mapper>